certilogo-frontend/node_modules
certilogo-frontend/.env
certilogo-frontend/build
certilogo-frontend/.DS_Store

certilogo-backend/node_modules
certilogo-backend/.env
certilogo-backend/build
certilogo-backend/.cache
certilogo-backend/public/uploads
certilogo-backend/.DS_Store
